<header class="main-header">
	<a class="main-header_logo">
		<img src="./icons/logo_mobile.svg" width="32" height="36" alt="Drink to go">
	</a>
	<nav class="main-nav">
		<button class="main-nav__toggle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<div class="main-nav__wrapper">

			<ul class="main-nav__list site-list">
				<li class="site-list__item">
					<a href="#">Главная</a>
				</li>
				<li class="site-list__item">
					<a href="#">Каталог</a>
				</li>
				<li class="site-list__item">
					<a href="#">Доставка</a>
				</li>
				<li class="site-list__item">
					<a href="#">О нас</a>
				</li>

			</ul>

			<ul class="main-nav__list user-list">
				<li><a class="user-list__login" href="login.html">
					<svg class="user-list__login-icon" width="16" height="16">
						<use xlink:href="./img/stack.svg#login"></use>
					</svg>Войти</a></li>
				<li><a class="user-list__bin" href="bin.html">
					<svg class="user-list__bin-icon" width="16" height="16">
						<use xlink:href="./img/bin.svg#login"></use>
					</svg>Корзина</a></li>
			</ul>

		</div>
	</nav>

</header>
