{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<h1 class="visually-hidden"> Магазин Дринк горпавбьлджэ ту го</h1>

	<section class="new">
		<h2 class="visually-hidden">Наши новинки</h2>
		<div class="new-wrapper slider">
			<ul class="slider_list">
				<li class="slider_item">
					<h3 class="slider_header">Декаф Флэт Уайт</h3>
					<p class="slider_desctiption">Свежесваренный кофе без кофеина из Эфиопии с натуральным фермерским молоком — то, что нужно для расслабления после тяжёлого рабочего дня</p>
					<img class="slider_image" src="#" alt="Фото продукта" width="280" height="280">
					<span class="slider_old-prise">295 &#8381;</span>
					<span class="slider_prise">225 &#8381;</span>
					<button class="slider_button">Заказать</button>
				</li>
			</ul>
			<button class="slider__prev" type="button"><h3 class="visually-hidden">Предыдущий отзыв</h3></button>
			<button class="slider__next" type="button"><h3 class="visually-hidden">Следующий отзыв</h3></button>
		</div>
	</section>

	<div class="features">
		<span class="features_budge budge">Преимущества</span>
		<h2 class="features_header">Главные причины выбрать Drink2Go</h2>
		<ul class="features_list">
			<li class="features_item ">
				<span class="features_img features_img--speeed"></span>
				<h3 class="features_name">Скорость</h3>
				<p class="features_description">Готовый напиток всегда под рукой — просто открой банку</p>
			</li>

			<li class="features_item ">
				<span class="features_img features_img--fit"></span>
				<h3 class="features_name">Удобство</h3>
				<p class="features_description">егко помещается и в карман,
					и в маленькую сумочку</p>
			</li>

			<li class="features_item ">
				<span class="features_img features_img--energy"></span>
				<h3 class="features_name">Бодрость</h3>
				<p class="features_description">Сбалансированная доза кофеина даст мощный заряд энергии</p>
			</li>

			<li class="features_item ">
				<span class="features_img features_img--eco"></span>
				<h3 class="features_name">Экологичность</h3>
				<p class="features_description">Вся упаковка сделана
					из перерабатываемых материалов</p>
			</li>
		</ul>
	</div>

	<section class="catalog">
		<span class="catalog_budge budge">Каталог</span>
		<h2 class="catalog_header">Каталог кофейных напитков</h2>
		<form class="catalog_form form">
			<fieldset class="form_prise prise">
				<legend class="prise_title">Цена</legend>
				<div class="prise_container range">
					{# <input type="range" min="0" max="900" value="123" step="1"> #}
					<div class="range_bar" style="left: 0; width: 226px">
						<button type="button" class="range_toogle toogle toogle-min">
							<span class="visually-hidden">Изменить минимальную цену</span>
						</button>

						<button type="button" class="range_oogle toogle toogle-max">
							<span class="visually-hidden ">Изменить максимальную цену</span>
						</button>

					</div>
				</div>

				<input class="range-prise range-prise-from" placeholder="0" value="0" type="number">
				<input class="range-prise range-prise-from" placeholder="0" value="123" type="number">

			</fieldset>

			<fieldset class="form_milk milk">
				<legend class="milk_title">Наличие молока</legend>
				<ul class="milk_list">
					<li class="milk_item">
						<lable class="milk_input input">
							<input type="radio" name="milk-groop" value="nevermind" checked>Неважно
						</lable>
						<lable class="milk_input input">
							<input type="radio" name="milk-groop" value="animal">Только животное
						</lable>
						<lable class="milk_input input">
							<input type="radio" name="milk-groop" value="ground">Только растительное
						</lable>
						<lable class="milk_input input">
							<input type="radio" name="milk-groop" value="without">Без молока
						</lable>


					</li>
				</ul>

			</fieldset>
		</form>


	</section>

</main>
{% endblock %}
